a {
    text-decoration: none;
}
.hidden {
    display: none;
}

.transition {
    width: 70px;
    transition: all ease 1s;
}

.questions {
    color: #000;
    transition: all ease 1s;
    margin-top: 15px;
}
